//<Подключаем шрифты>==========
//&display=swap
//&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
@import "fonts";

//<Шрифты по умолчанию>================
$fontFamily: "Heebo";

//<Иконочный шрифт>

//================
@import "_header";

body {
	font-size: 20px;
	background-color: black;
	margin: 0px 0px 0px 50px;
	div {
		font-size: 50px;
	}
	h1 {
		color: green;
	}
}
.block {
	&__item {
		color: purple;
	}

	&__ {
		color: yellowgreen;
	}
}
.red {
	color: red;
}
@media (max-width: 767px) {
	.red {
		border: 0;
	}
}
